* {
  background: #071a13;

  color: #d4af37;
  /* background: #160B0B;
  color: #C9A227;  */
}
.navbar-item {
  text-decoration: none;
}
.navbar-item:hover {
  color: #ffffff;
  text-decoration: underline;
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}
.banner {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.home-content {
  border: 1px solid #d4af37;
  margin-top: 15px;
  text-align: center;
}
.burger {
  border: 1px solid #d4af37;

  width: 350px;
  height: 200px;
  border-radius: 10px;
}
.pizza {
  border: 1px solid #d4af37;

  width: 350px;
  height: 200px;
  border-radius: 10px;
}

.products {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-evenly;
  margin-top: 15px;
}
